@import url("./normalize.css");
.html, body {
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%; }

.body {
  margin-left: 0;
  margin-top: 0;
  position: relative;
  font-family: Arial, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem; }

.page {
  position: relative;
  overflow: hidden;
  height: 100%; }

.wrapper {
  position: relative;
  min-height: 5.625rem;
  min-width: 18.75rem;
  width: 100%; }

.header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  background: white;
  position: fixed; }

.header-container {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5rem;
  margin: 0 auto; }

.header__logo {
  padding-left: 3rem;
  padding-top: .65rem; }
  @media (max-width: 480px) {
    .header__logo {
      padding-left: 1rem;
      padding-top: .45rem; } }

.header__menu {
  padding-top: 1.0625rem;
  position: relative;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav {
  vertical-align: middle;
  width: 100%;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.nav__list {
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 3rem;
  font-family: Helvetica, Arial, sans-serif; }

.nav__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 1rem; }

.item-link {
  color: black;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  white-space: nowrap; }
  .item-link:hover {
    text-decoration: underline; }
  @media (max-width: 480px) {
    .item-link {
      font-size: 11px; } }

.item-moscow:hover {
  color: #f41270; }

.item-london:hover {
  color: #01e1bf; }

.item-dubai {
  color: #fff200;
  text-decoration: underline; }

.banner {
  background: url(../img/banner-dubai.png);
  background-size: cover;
  width: 100%; }
  @media (max-width: 768px) {
    .banner {
      background: url(../img/banner-dubai.png) 52%; } }

.banner__title {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center; }
  @media (max-width: 480px) {
    .banner__title {
      padding-top: 3rem;
      padding-bottom: 3rem; } }

.banner__title-img {
  width: 40%; }

.maincontent__results {
  margin-left: 36%;
  margin-right: 34%;
  margin-top: 2rem; }
  @media (max-width: 768px) {
    .maincontent__results {
      margin-left: 24%; } }
  @media (max-width: 480px) {
    .maincontent__results {
      margin-left: 15%; } }

.maincontent__blok {
  width: 23.65rem;
  height: 15.65rem;
  -webkit-box-shadow: 0px 8px 35px -5px rgba(0, 0, 0, 0.3); }
  @media (max-width: 480px) {
    .maincontent__blok {
      width: 21.65rem;
      height: 13.65rem;
      margin-left: -2rem; } }

.blok__title {
  font-size: 18px;
  font-family: Avenir;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1rem; }
  @media (max-width: 480px) {
    .blok__title {
      font-size: 17px; } }

.blok__list {
  text-decoration: none;
  list-style: none;
  font-size: 15px;
  font-family: Avenir;
  text-transform: uppercase; }
  @media (max-width: 480px) {
    .blok__list {
      font-size: 14px; } }

.blok__list__item {
  margin-top: .45rem; }

.blok__link {
  background-color: lightgrey;
  line-height: 2.05rem;
  border-radius: 0.3125rem;
  width: 9rem;
  margin-left: 31%;
  margin-top: 3rem;
  text-align: center; }
  .blok__link:hover {
    background-color: #f50237; }
  @media (max-width: 480px) {
    .blok__link {
      margin-top: 2rem; } }

.blok__link-link {
  text-decoration: none;
  font-size: 12px;
  font-family: Avenir;
  text-transform: uppercase;
  color: black; }
  .blok__link-link:hover {
    color: white; }
  @media (max-width: 480px) {
    .blok__link-link {
      font-size: 11px; } }

.maincontent__info {
  background: url(../img/backgr-dubai.png) no-repeat;
  background-size: cover;
  margin-top: -4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  @media (max-width: 768px) {
    .maincontent__info {
      background: url(../img/background-dubai-tablets.png) 42% no-repeat;
      margin-top: -15rem; } }
  @media (max-width: 480px) {
    .maincontent__info {
      background: url(../img/dubai-bck-phones.png) 31% no-repeat;
      margin-top: -12rem; } }

.info__text {
  padding-top: 19rem;
  width: 45%;
  margin-right: 2rem; }
  @media (max-width: 768px) {
    .info__text {
      width: 71%;
      padding-top: 26rem; } }
  @media (max-width: 480px) {
    .info__text {
      width: 75%; } }

.info__text__paragraph {
  font-family: Verdana, Arial, sans-serif;
  font-size: 17px;
  color: white;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42; }
  @media (max-width: 768px) {
    .info__text__paragraph {
      font-size: 11px; } }

.info__button {
  margin-bottom: 13rem;
  line-height: 2.05rem;
  border-radius: 0.3125rem;
  margin-top: 3rem;
  text-align: center; }
  @media (max-width: 768px) {
    .info__button {
      margin-bottom: 16rem;
      margin-top: 1rem; } }

.info__button__text {
  margin-top: 3rem;
  text-align: end;
  border: 2px solid white;
  border-radius: 0.3125rem;
  padding: 5px 30px;
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-family: Avenir;
  text-transform: uppercase; }
  @media (max-width: 480px) {
    .info__button__text {
      font-size: 11px; } }

.maincontent__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 61.75rem;
  min-width: 18.75rem;
  width: 97%;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .maincontent__event {
      margin-top: -8rem; } }

.event__blok__title {
  color: #fff200;
  font-family: Avenir;
  font-size: 50px;
  text-transform: uppercase;
  line-height: .65rem; }
  @media (max-width: 768px) {
    .event__blok__title {
      font-size: 40px; } }

.event__text {
  width: 23rem;
  height: 20rem;
  -webkit-box-shadow: 0px 8px 35px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 35px -5px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  text-align: center;
  font-family: Avenir;
  text-transform: uppercase;
  line-height: .55rem; }
  @media (max-width: 480px) {
    .event__text {
      width: 18rem;
      height: 18rem; } }

.event__text__one {
  font-size: 20px;
  padding-top: 1.625rem; }
  @media (max-width: 480px) {
    .event__text__one {
      font-size: 17px; } }

.event__text_time {
  font-size: 17px; }
  @media (max-width: 480px) {
    .event__text_time {
      font-size: 15px; } }

.event__text__two {
  margin-top: 2.625rem;
  border-top: #cfcfd3 dotted 1px;
  border-bottom: #cfcfd3 dotted 1px;
  padding-bottom: .85rem; }

.event__button {
  margin-top: 2.625rem; }
  @media (max-width: 480px) {
    .event__button {
      font-size: 14px; } }

.event__link {
  margin-top: 3rem;
  text-align: end;
  border: 2px solid #f50237;
  border-radius: 0.3125rem;
  padding: 5px 30px;
  text-decoration: none;
  color: #f50237; }
  .event__link:hover {
    background: #f50237;
    color: white; }

.maincontent__event__photo {
  padding-top: 5rem; }

.event__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.event__photo__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.event__photo-img {
  width: 70%;
  height: 100%; }

.string__slogan {
  font-family: Avenir;
  color: #fff200;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5rem; }
  @media (max-width: 768px) {
    .string__slogan {
      font-size: 15px; } }

.footer {
  background: #252525; }

.footer__wrap {
  margin: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__logo__img {
  width: 58px;
  height: 58px;
  padding-left: 3rem;
  padding-top: .65rem;
  padding-bottom: .65rem; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 2.5rem;
  width: 100%;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  text-align: right;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.social-media-text {
  color: white;
  font-size: 12px;
  font-family: Avenir;
  text-transform: uppercase;
  margin-right: 2rem; }

.social_list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.social_item {
  margin-right: 1rem; }

.icon-fc {
  background: url(../img/fb_white.svg);
  height: 1.35rem;
  width: 0.659rem; }

.icon-vk {
  background: url(../img/vk_white.svg);
  height: .8rem;
  width: 1.35rem; }

.icon-inst {
  background: url(../img/inst-white.svg);
  height: 1.25rem;
  width: 1.256rem; }

.icon-yt {
  background: url(../img/yt_white.svg);
  height: 1rem;
  width: 1.366rem; }
